html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: none;
    border-top: 0.5px solid rgb(121, 79, 160);
    opacity: 0.3;
}


.wrapper {
    width: auto;
    margin: 0 auto;
}

.container {
    margin: 150px auto;
    max-height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    --input-height: 50px;
    --font-size: 16px
}


.pen {
    margin: 0 auto;
    width: auto;
    padding-bottom: 30px;

    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

.input {
    width: 200px;
    height: var(--input-height);
    padding: 0 45px;
    position: relative;

    background-color: rgb(248, 242, 253);

    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(236, 224, 248);
}

input[type="search"] {
    width: inherit;
    height: inherit;

    font-size: var(--font-size);
    font-family: sans-serif;
    color: rgb(15, 1, 15);

    background: transparent;

    border: none;
    outline: none;
}

.submit {
    position: absolute;
    top: 0;
    left: 0;

    padding: calc((var(--input-height) - var(--font-size))/2) 10px;

    font-size: var(--font-size);
    color: rgb(165, 140, 185);

    border: none;
    background: transparent;

    cursor: pointer;
}

.open-button {
    width: var(--input-height);
    height: var(--input-height);
    position: relative;

    border: none;
}

.open-button__icon {
    width: inherit;
    height: inherit;
    padding: 10px auto;

    display: block;
    position: absolute;
    top: 0;
    left: 0;

    font-size: calc(var(--font-size) + 7px);
    color: aliceblue;

    background: transparent;
    border: none;

    cursor: pointer;
}

.open-button__inner {
    width: inherit;
    height: inherit;

    background-color: rgb(121, 79, 160);
    border: none;
    border-radius: 8px;

}