body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    max-width: 1250px;

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;

    background-color: #15202b;
}

.wrapper {
    min-height: 100%;
    display: grid;

    grid-template-columns: 275px 2fr 1.2fr;

    --padding-feed: 0 20px;
}



/*+ Navigation */

.nav {
    /* width: 275px; */
    height: 100%;
    /* display: inline-block; */
    /* justify-content: space-between; */
    margin: 0 10px;
    /* box-sizing: border-box; */

    /* background-color: #1d9bf0; */
    position: relative;
}

.logo {
    padding: 10px;
    font-size: 30px;
}

.menu__item {
    display: block;
    padding: 15px 0;

    color: #fff;
    text-decoration: none;
}

.menu__item__text {
    padding-left: 20px;
}

.menu__item__block {
    padding: 15px;
    padding-left: 10px;
    padding-right: 30px;
}

.menu__item:hover .nav__menu__item__block {
    background-color: #2f3a44;
    border-radius: 35px;

}

.nav__tweet {
    width: 225px;
    height: 50px;

    margin: 20px 0;

    font-size: 17px;
    font-weight: 700;
    color: #fff;

    border: none;
    border-radius: 60px;
    background-color: #1d9bf0;

    transition: all 0.1s ease-in;

    cursor: pointer;
}

.nav__tweet:hover {
    background-color: #168bda;
    transition: all 0.2s ease-in;
}

.profile {
    width: 250px;
    /* height: 40px; */
    padding: 12px;
    border-radius: 100px;
    box-sizing: border-box;

    display: flex;
    /* justify-content: space-between; */

    position: absolute;
    bottom: 20px;

    align-items: center;
    transition: all 0.1s ease-in;

}

.profile__link {
    display: block;
    /* width: 500px; */
    text-decoration: none;
    color: #fff;
}

.profile__link:hover .profile {
    /* border-radius: 40px; */
    background-color: #2f3a44;
    transition: all 0.1s ease-in;

}

.profile__avatar {
    /* align-items: center; */
    /* position: absolute; */
}

.profile__avatar img {
    width: 40px;
    height: 40px;
    display: block;

    border-radius: 50%;
}

.profile__names {
    width: 50%;
    padding-left: 13px;
    font-size: 15px;
}

.profile__names__username {
    font-weight: 700;
}

.profile__names__user {
    color: #a6afb8;
}

.profile__dots {
    width: 27%;
    /* position: absolute; */
    /* padding-right: 15px; */
    /* right: 0; */
    font-size: 12px;
    text-align: right;
}

/* .nav__profile::after {
    content: "...";
} */



/* + Feed */

.feed {
    /* padding: 0 20px; */
    border: 1px solid #253341;
}

.feed__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

}

.feed__header__main {
    font-weight: 700;
}

.search-menu {
    height: 100vh;

    background-color: #253341;
}



/*+ Sending tweet */

.sending-tweet {
    display: flex;
    height: 100px;
    padding: 20px;
    /* justify-content: space-between; */
    /* align-items: top; */
    border-bottom: 1px solid #2f3a44;
}

.sending-tweet__avatar {
    margin-right: 12px;
}

.sending-tweet__avatar img {
    border-radius: 50%;
}

.sending-tweet__block {
    width: 100%;
}

.sending-tweet__input {}

.sending-tweet__input input {
    width: 100%;
    height: 50%;


    padding: 12px 0;

    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    white-space: nowrap;
}

.sending-tweet__buttons {
    display: flex;
    height: 50%;
    align-items: end;

    justify-content: space-between;
}

.sending-tweet__attach {
    width: 180px;
    padding-bottom: 9.5px;
    display: flex;
    justify-content: space-between;

    font-size: 17px;
    color: #1d9bf0;
}

.sending-tweet__tweet {
    width: 100px;
    height: 36px;

    /* margin: 20px 0; */

    font-size: 15px;
    font-weight: 700;
    color: #fff;

    border: none;
    border-radius: 60px;
    background-color: #1d9bf0;

    transition: all 0.1s ease-in;

    cursor: pointer;
}

.sending-tweet__tweet:hover {
    background-color: #168bda;
    transition: all 0.2s ease-in;
}

.sending-tweet__tweet:disabled {
    background-color: #195d8d;
    color: #7e8a94;
    cursor: auto;
}